<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCHomem.Prototype.Correios.ConsumeWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <MCHomem.Prototype.Correios.ConsumeWS.Properties.Settings>
            <setting name="MCHomem_Prototype_Correios_ConsumeWS_br_com_correios_apps_AtendeClienteService"
                serializeAs="String">
                <value>https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente</value>
            </setting>
        </MCHomem.Prototype.Correios.ConsumeWS.Properties.Settings>
    </applicationSettings>
</configuration>